{
  "port": 8081,
  "apps": [
    {
      "app_id": "appid1",
      "key": "key1",
      "secret": "secret1",
      "name": "app_name1"
    },
    {
      "app_id": "appid2",
      "key": "key2",
      "secret": "secret2",
      "name": "app_name2"
    }
  ]
}