{
  "port": 8080,
  "apps": [
    {"app_name1": {
      "app_id": "appid1",
      "key": "key1",
      "secret": "secret1"
    }},

    {"app_name2": {
      "app_id": "appid2",
      "key": "key2",
      "secret": "secret2"
    }}
  ]
}