{plugins, [erlson_rebar_plugin]}. % for newer rebar
{rebar_plugins, [erlson_rebar_plugin]}. % for older rebar

{deps, [
  {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", {tag,"0.8.1"}}},
  {lager, ".*", {git, "git://github.com/basho/lager.git", "master"}},
  {gproc, ".*", {git, "git://github.com/esl/gproc.git", "master"}},
  {jiffy, ".*", {git, "git://github.com/davisp/jiffy.git", "master"}},
  {meck, ".*", {git, "https://github.com/eproxus/meck.git"}},
  {erlson, "", {git, "https://github.com/alavrik/erlson.git", {branch, "master"}}},
  {mochiweb, "", {git, "https://github.com/mochi/mochiweb.git", {branch, "master"}}}
]}.
{cover_enabled, true}.
% {eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.